<ul class="nav" onclick="toggleMenu();">
	<% if (loggedInUser) { %> <% if (loggedInUser.role === "admin") { %>
	<li><a href="/logout">Logout</a></li>
	<li><a href="/Adminpart">Admin Menu</a></li>
	<% } else { %>
	<li><a href="/logout">Logout</a></li>
	<li><a href="/Accountinfo">Account Information</a></li>
	<% } %> <% } else { %>
	<li><a href="/login">Login</a></li>
	<li><a href="/signup">Sign Up</a></li>
	<% } %>
	<li><a href="/#about-us">About Us</a></li>
	<li><a href="/">Home</a></li>
</ul>
