<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Payment Checkout Form</title>
		<link rel="stylesheet" href="../public/css/payment.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		/>
	</head>
	<body>
		<div class="wrapper">
			<div class="payment">
				<div class="payment-logo">
					<p>p</p>
				</div>
				<h2>Payment Gateway</h2>
				<!-- Display car name and price -->
				<div class="car-details">
					<p class="carDescriptiona"><strong>Car Name:</strong> <span id="carName"></span></p>
					<p class="carDescriptiona">
						<strong>Car Price:</strong> <span id="carPrice"></span>
					</p>
					<p class="carDescriptiona"><strong>Car Year:</strong> <span id="carYear"></span></p>
					<p class="carDescriptiona">
						<strong>Car Color:</strong> <span id="carColor"></span>
					</p>
					<p class="carDescriptiona">
						<strong>Car Description:</strong>
						<span id="carDescription"></span>
					</p>
				</div>
				<!-- End of car details -->
				  <div class="form">
                <form id="newPaymentForm" class="payment-form">
                    <div class="card space icon-relative">
                        <label class="label">Card Holder:</label>
                        <input
                            type="text"
                            class="input card_holder"
							id="cardown"
                            name="card_holder"
                            placeholder="Card owner"
                            required
                        />
                        <i class="far fa-user"></i>
                    </div>
                    <div class="card space icon-relative">
                        <label class="label">Card number:</label>
                        <input
                            type="text"
                            class="input card_number"
                            name="card_number"
							id="cardnum"
                            placeholder="Card Number"
                            data-mask="0000 0000 0000 0000"
                            required
                        />
                        <i class="far fa-credit-card"></i>
                    </div>
                    <div class="card_grp space">
                        <div class="card_item icon-relative">
                            <label class="label">Expiry date (MM/YY):</label>
                            <input
                                type="text"
                                class="input expiry_date"
								id="cardexp"
                                name="expiry_date"
                                placeholder="MM/YY"
                                data-mask="00/00"
                                required
                            />
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="card_item icon-relative">
                            <label class="label"><br>CVV:</label>
                            <input
                                type="password"
                                class="input cvv"
								id="carcvv"
                                name="cvv"
                                placeholder="000"
                                data-mask="000"
                                required
                            />
                            <i class="fas fa-lock"></i>
                        </div>
                    </div>
                    <button type="submit" class="btn">Pay</button>
                </form>
            </div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
		<script src="../public/js/payment.js"></script>
	</body>
</html>
