<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		/>
		<link rel="stylesheet" href="../public/css/login.css" />
		<title>Wheels&Deals</title>
	</head>
	<body>
		<header>
			<a href="/" class="logo"
				><img src="../public/images/logo.jpg" alt="logo"
			/></a>
		</header>

		<ul class="nav"></ul>

		<section class="home">
			<div class="form_container">
				<i class="fa-solid fa-xmark form_closer"></i>
				<!-- Login form -->
				<div class="login_form">
					<form id="reset-password-form" method="post">
						<h2>Choose A New Password</h2>
						<div class="input_box">
							<input
								type="password"
								name="password"
								placeholder="Password"
								required
							/>
							<i class="fa-solid fa-lock"></i>
						</div>
						<div class="input_box">
							<input
								type="password"
								name="confirmpassword"
								placeholder="Confirm Password"
								required
							/>
							<i class="fa-solid fa-lock"></i>
						</div>
						<button class="login-button" type="submit">
							Change Password
						</button>
					</form>
				</div>
			</div>
		</section>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="../public/js/resetpassword.js"></script>
	</body>
</html>
